#left-container {
  float: left;
  flex: 1;
}

#right-container {
  overflow: hidden;
  margin-left: 500px;
  border-style: solid;
  flex: 5;
}

label {
}

#image {
  width: 100%;
}

#body {
  flex: 1;
  flex-direction: row;
}
