#bottom-container {
  width: 100%;
  overflow: hidden;
  border-style: solid;
}

label {
}

#image {
  width: 100%;
}

#input-container {
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
  font-size: xx-large;
}

#user-form {
  width: 100%;
}

#input-field {
  font-size: xx-large;
}

#button {
  font-size: xx-large;
  width: 200px;
  margin-left: calc(100%);
}

#guesses-text {
  font-size: x-large;
  font-style: normal;
}

#guesses {
  text-align: center;
}
